
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

</head>
<body>
        <div class="flex justify-between bg-blue-400 items-centr">
        <h1 class="text-xl font-bold p-4">Todo qo'shish</h1>
        <button class="rounded-md bg-black text-white p-2 mr-4 cursor-pointer">Orqaga</button>
        </div>

            <div class="flex flex-col">
                <h1>{{todo.title}}</h1>
                <p>{{todo.descriptions}}</p>
</body>
</html>
